<div class="textBox">
  <div class='url-holder'>
    <div class='left'>
      <h1>提出用ページURL</h1>
      <p>提出用ページのリンクです。仲間に共有して、時間割を提出してもらいましょう。</p>
    </div>
    <input value=<%=tt_index_url(@party)%> class='home-url' id='home-url' readonly><br>
    <button class='button icon-button' id='visit-home-url'>
      <i class="fas fa-running fa-2x icon"></i><br>
      GO
    </button>
    <button class='button icon-button' id='copy-home-url'>
      <i class="fas fa-copy fa-2x icon"></i><br>
      コピー
    </button>
    <button class='button icon-button' id='share-home-url'>
      <i class="fab fa-line fa-2x icon"></i><br>
      LINEで共有
    </button>
  </div>
</div>
<p class="center">あなたの団体の雛形が作成されました</p>
<!--
<div class='group-make' id='group-make'>
  <div class='url-holder'>
    <div class='left'>
      <h1>設定用ページURL</h1>
      <p>このページへのリンクです。メモしておくことをおすすめします</p>
    </div>
    <input value='aaaa' class='home-url' readonly>
    <button class='button'>GO</button><button class='button'>コピー</button><button class='button' src='https://line.me/R/msg/text/?testmessage'>LINEで共有</button>
  </div>
</div>
-->
<%= javascript_pack_tag 'parties/start'%>
<div id='home-url-data' data-json=<%=tt_index_url(@party)%>></div>
<div id='setting-url-data' data-json=<%=request.url%>></div>
<div id='share-home-url-data' data-json=<%="https://line.me/R/msg/text/?#{tt_index_url(@party)}"%>></div>
