<% row = @times_str.length%>
<% col = @dates_str.length%>
<div class="timetable">
  <div class="row">
    <div class="date"></div>
    <% @dates_str.each do |d| %>
      <div class="date"><%= d%></div>
    <% end %>
  </div>
  <% row.times do |i| %>
    <div class="row">
      <div class="time"><%= @times_str[i]%></div>
      <% col.times do |j|%>
        <div class="subject"><%= iso_image("subject" + (i * col +  j).to_s) %></div>
      <% end %>
    </div>
  <% end %>
</div>
<div id='iso-url' data-json=<%= asset_url("iso.png").to_json%>></div>
<div id='hima-url' data-json=<%= asset_url("hima.png").to_json%>></div>
<div id='timetable' data-json='<%=@timetable.to_json%>'></div>
<div id='changeable' data-json='<%=@changeable%>'></div>
<div id='party' data-json='<%=@party.to_json%>'></div>
<div id='create-url' data-json=<%=tt_create_url(@party,@timetable)%>></div>
<%= javascript_pack_tag 'timetables/timetable'%>
