<div class='center'>
<%=go_home_button%>
</div>
<div class='member'>
<h2>提出履歴</h2>
<% @timetables.each do |timetable| %>
  <div class="row">
    <div class="member-name"><%= timetable.name %></div>
    <div class='commands'>
      <div><%= link_to '見る', timetable %></div>
      <div><%= link_to '編集', edit_timetable_path(timetable) %></div>
      <div><%= link_to '削除',timetable, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    </div>
  </div>
<% end %>
</div>