<div class='center'>
<h1><%=@party.name%></h1>
<p class="center">今年度の週会議の日程をきめるので、皆の時間割を教えてください!</p>
</div>
<div class="textBox">
    <%= form_with url:tt_new_url, method: :get, class: 'name-form' do |form|%>
        <%= form.text_field :name, {class: 'name-field', placeholder: '名前を入力'}%><%= form.submit "OK" ,class: "button submit-name"%>
    <% end%>
    <%= view_history%><%= view_result%>
    <%=go_setting%><%= view_distribution%>
</div>
<h3>更新履歴</h3>
<p>4月4日</p>
<p>　　暫定履歴で既にひとコマのみに該当した時間は以降表示しないように変更</p>
<p>　　デザインの改修</p>
<p>　　<del>無料サーバーを使ってるのでスマホからの閲覧は広告が表示されると思います</del></p>
<p>4月7日</p>
<p>　　サーバーの変更</p>
<p>5月1日</p>
<p>　　バグ修理</p>
<p>5月4日</p>
<p>　　バグ修理</p>
<p>　　分布機能追加</p>
</div>