<div class='center'>
<h1><%=@party.name%></h1>
<p class="center">日程調節のため、時間割の提出をお願いします。名前を入力後、OKを押してください</p>
</div>
<div class="band">
<div class="operation-box">
    <%= form_with url:tt_new_url, method: :get, class: 'name-form' do |form|%>
        <%= form.text_field :name, {class: 'name-field', placeholder: '名前を入力'}%><%= form.submit "OK" ,class: "ok-button button submit-name"%>
    <% end%>
    <div class='button2'>
        <a class='button icon-button half' href='<%=url_for(action: :history)%>'>
        <i class='fas fa-history fa-2x icon'></i><br>
        提出一覧を見る
        </a>
        <a class='button icon-button half' href='<%=url_for(action: :result)%>'>
        <i class='fas fa-stream fa-2x icon'></i><br>
        候補を見る
        </a>
    </div>
    <div class='button2'>
        <a class='button icon-button half' href='<%=url_for(action: :setting)%>'>
        <i class='fas fa-user-edit fa-2x icon'></i><br>
        グループを編集
        </a>
        <a class='button icon-button half' href='<%=url_for(action: :distribution)%>'>
        <i class='fas fa-search fa-2x icon'></i><br>
        分布を見る
        </a>
    </div>
    <div class='button1'>
        <a class='button icon-button half' href='<%=url_for(controller: :application, action: :index)%>'>
        <i class='fas fa-home fa-2x icon'></i><br>
        ホームへ
        </a>
    </div>
</div>
</div>
<%=render partial: 'sns'%>

<%if @party.name.include?("りこボラ") then%>
<%=image_tag 'bora.png', class:"illustration"%>
<style>
header{
    background-color:#4a76f3;
}
.textBox{
    background-color: #4a76f3;
    background-position: right bottom;
    bground-image:url(#{asset_path "bora.png"});"%>
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.button{
    background-color:#4974a5;
}
.contents{
    position:relative;
}
.illustration{
    position:absolute;
    background-image:url(<%=asset_path "bora.png"%>);
    bottom:0;
    right:0;
}
.ok-button{
    background-color:#dc03c1;
}
</style>
<%end%>