<% row = @times_str.length%>
<% col = @dates_str.length - 1%>
<div class='center'>
<%= go_home_button%>
<h1><%= @timetable.name %></h1>
<p>暇をクリックしてみよう</p>
<%= render partial: 'timetable'%>

<button  class="button half" id='submit'>提出</button>


<div id='row-col-num' data-json=<%={'row' => row, 'col' => col}.to_json%>></div>
<div id='iso-url' data-json=<%= asset_url("iso.png").to_json%>></div>
<div id='hima-url' data-json=<%= asset_url("hima.png").to_json%>></div>
<div id='timetable' data-json='<%=@timetable.to_json%>'></div>
<div id='changeable' data-json='<%=@changeable%>'></div>