<%= go_home_button%><%= view_history%>
<h3>現時点で提出済みの時間割から、全員が来れる候補を表示しています<br>クリックで誰が来れるかを表示します</h3>
<div id='timetables' data-json='<%=@timetables.to_json%>'></div>
<div id='once'>
<h3>ひとコマのみ</h3>
<div id='anchor-once'></div>
<div id='twice'>
<h3>ふたコマ</h3>
<div id='anchor-twice'></div>
<div id='party' data-json='<%=@party.to_json%>'></div>
<%= javascript_pack_tag 'timetables/result'%>