<div class="center">
  <%= go_home_button%>
</div>
<p>現時点で提出済みの時間割から、全員が来れる候補を表示しています</p>
<p id="message"></p>
<p id="view-list-toggle" data-checked=0 style="display:inline;"><i class="far fa-square" id="checkbox-false"></i><i class="fas fa-check-square" id="checkbox-true"></i> 一覧表示</p>
<div class="table-display" id="table-display-wrapper">
  <div class="center seeker" id="seeker">
    <i class="fas fa-caret-square-left" id="previous" style="display:none"></i>
    <i class="far fa-caret-square-left" id="previous-ban"></i>
    <div id="can-id-text" style="display:inline">候補 1</div>
    <i class="fas fa-caret-square-right" id="next"></i>
    <i class="far fa-caret-square-right" id="next-ban" style="display:none"></i>
  </div>
  <% row = @times_str.length%>
  <% col = @dates_str.length%>
  <div class="timetable" id="timetable">
    <div class="row">
      <div class="date"></div>
      <% @dates_str.each do |d| %>
        <div class="date"><%= d%></div>
      <% end %>
    </div>
    <% row.times do |i| %>
      <div class="row">
        <div class="time"><%= @times_str[i]%></div>
        <% col.times do |j|%>
          <div class="subject">
            <div class='distribution' id="<%=("subject" + (i * col +  j).to_s)%>"></div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div class="list-display" style="display:none" id="candidate-list-wrapper">
  <div id='timetables' data-json='<%=@timetables.to_json%>'></div>
  <div id='once'>
    <h3>ひとコマのみ</h3>
    <div id='anchor-once'></div>
  </div>
  <div id='twice'>
    <h3>ふたコマ</h3>
    <div id='anchor-twice'></div>
    <div id='party' data-json='<%=@party.to_json%>'></div>
  </div>
</div>
<%= javascript_pack_tag 'timetables/result'%>
