<!DOCTYPE html>
<html>

  <head>
    <title>TimetableManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta id='root-url' data-json='<%=root_url%>'>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application'  %>
  </head>
  <header>
      <h1 id='header-logo'>Timetable Manager3 -t</h1>
  </header>
  <script>
  document.getElementById('header-logo').onclick = ()=>{location.href = document.getElementById('root-url').dataset.json;}
  </script>

  <body>
    <div class="contents">
    <%= yield %>
    </div>
  </body>
</html>
