<!DOCTYPE html>
<html>

  <head>
    <title>時間割マネージャー</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta id='root-url' data-json='<%=root_url%>'>
    <%= favicon_link_tag('favicon.ico') %>
    <script src="https://kit.fontawesome.com/50efd0ad59.js" crossorigin="anonymous"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9049003923441273"
     crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application'  %>
  </head>
  <script>
  document.getElementById('header-logo').onclick = ()=>{location.href = document.getElementById('root-url').dataset.json;}
  </script>

  <body>
    <header>
        <h1 id='header-logo'>時間割マネージャー</h1>
    </header>
    <div class="contents">
      <%= yield %>
    </div>
    <%=render partial: 'sns'%>
    <footer>
      <%=render partial: 'footer'%>
    </footer>
  </body>
</html>
